/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(213, 71%, 28%);
    --first-color-alt: hsl(187, 100%, 40%);
    --first-color-light: #54BA9A;
    --first-color-lighten: #f0f3ff;
    --second-color: #F88745;
    --title-color: #1f2f70;
    --text-color: #6c7493;
    --text-color-light: #b8bbc7;
    --border-color: #f5f7ff;
    --body-color: #fff;
    --container-color: #F3F3F3;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", --font-semi-bold;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
    align-items: center;
    justify-content: center;
    /* For animation dark mode */
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.section__title span {
    color: var(--second-color);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--second-color);
}

.main {
    overflow: hidden;
    /* For the animations ScrollReveal*/
}

/* menu para pc*/
@media screen and (min-width: 1023px) {
    .section {
        padding: 1.5rem;
    }

    .section__title {
        font-size: 2.25rem;
    }

    .section__subtitle {
        font-size: var(--normal-font-size);
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__menu {
        width: initial;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        color: var(--text-color-light);
    }

    .nav__link i {
        display: none;
    }

    .active-link {
        background: none;
        box-shadow: none;
        color: var(--first-color);
        font-weight: var(--font-medium);
    }

    .change-theme {
        margin: 0 3rem;
        color: var(--text-color-light);
    }

    .scroll-header .nav__link,
    .scroll-header .change-theme {
        color: var(--text-color);
    }

    .scroll-header .active-link {
        color: var(--first-color);
    }

    .home {
        padding-bottom: 0;
    }

    .home__container {
        padding-top: .1rem;
        column-gap: 2rem;

    }

    .home__data {
        padding-bottom: 0.2rem;
        padding-top: 4rem;
        align-items: flex-end;
    }

    .home__title {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .home__description,
    .home__search {
        margin-bottom: 3rem;
    }
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

#botao-img {
    position: absolute;
    top: 8px;
    /* Distância do topo */
    left: 18px;
    /* Distância da esquerda */
    width: 72px;
    /* Largura da imagem */
    height: auto;
    /* Altura ajustada automaticamente */
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #F3F3F3;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__logo i {
    font-size: 1rem;
}

.nav__logo:hover {
    color: var (--first-color);
}

@media screen and (max-width: 1023px) {

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__menu {
        position: fixed;
        bottom: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 8px 24px #1f2f70;
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.30rem 3rem;
        border-radius: 1.25rem;
        transition: .4s;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link {
        color: var(--text-color);
        display: flex;
        padding: .5rem;
        border-radius: 50%;
    }

    .nav__link i {
        font-size: 1.25rem;
    }

    .nav__link span {
        display: none;
    }

    .active-link {
        background: linear-gradient(101deg,
                hsl(228, 66%, 53%),
                hsl(228, 66%, 47%));
        color: #fff;
        box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
    }

}

/* Change background header */
.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 1px 4px hsla(228, 4%, 15%, .1);
}

/* Active link */


/*=============== HOME ===============*/
.home {
    background: linear-gradient(170deg,
            hsl(187, 100%, 40%) 0%,
            hsl(213, 71%, 28%) 30%);
}

.home__container {
    padding-top: 4rem;
    row-gap: 3.5rem;
    margin-left: 6.5rem;
}

.home__value {
    display: flex;
    column-gap: 6.5rem;
}

.home__title,
.home__value-number {
    color: #F3F3F3;
}

.home__title {
    font-size: var(--biggest-font-size);
    line-height: 120%;
    margin-bottom: 1.25rem;
}

.home__description {
    color: var(--text-color-light);
    text-align: justify;
    padding-bottom: -20rem;
}

.home__value {
    margin-top: -2rem;
    margin-left: 0rem;
    align-items: center;
}

.home__value-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: #54BA9A;
}

.home__value-title span {
    color: var(--second-color);
}

.home__value-description {
    display: flex;
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
    padding-bottom: 1.2rem;
}

.home__images {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.home__orbe {
    width: 455px;
    height: 484px;
    background: linear-gradient(180deg,
            hsl(0, 0%, 16%) 93%,
            hsl(0, 0%, 67%) 100%);
    border-radius: 135px 135px 0 0;
}

.home__img {
    position: absolute;
    width: 450px;
    height: 505px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    display: inline-flex;
    align-items: flex-end;
    bottom: -1.5rem;
    box-shadow: 0 15px 32px hsla(228, 66%, 25%, .25);
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 1023px) {
    .home__container {
        padding-top: 0rem;
        row-gap: 2rem;
        margin-left: 1.5rem;
    }

    .home__title {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .home__description {
        margin-bottom: 1.5rem;
    }

    .home__value {
        display: flex;
        /* Muda a direção dos elementos para coluna em telas menores */
        column-gap: 3.2rem;
        /* Espaço entre os elementos em telas menores */
        margin-left: 0.3rem;
        margin-bottom: -2rem;
    }

    .home__value-title {
        font-size: var(--h2-font-size);
    }

    .home__value-description {
        font-size: var(--small-font-size);
    }

    .home__images {
        flex-direction: column;
        align-items: center;
    }

    .home__orbe {
        width: 300px;
        height: 320px;
    }

    .home__img {
        width: 290px;
        height: 325px;
        bottom: -1rem;
    }
}


/*=============== BUTTON ===============*/


/*=============== LOGOS ===============*/


/*=============== POPULAR ===============*/
.popular__container {
    padding: 1rem 0 5rem;
    width: 500px;
    height: 835px;
    margin-top: -2rem;
    margin-bottom: -10rem;
    /* efeito de sobreposição das fotos */
}

/*fotos da home*/
.popular__card {
    width: auto;
    background-color: var(--container-color);
    padding: .5rem .5rem 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
    transition: .4s;
}

/* aqui aqui */
.popular__img {
    width: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.popular__data {
    padding: 0 1rem 0 .5rem;
}

.popular__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.popular__description {
    font-size: var(--small-font-size);
    text-align: justify;
}

.popular__card:hover {
    box-shadow: 0 12px 16px hsla(228, 66%, 45%, .1);
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    margin-top: 150px;
    bottom: 2px;
    background-color: var(--container-color);
    border: 2px solid var(--text-color-light);
    padding: 8px;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: calc(50% - 3rem);
}

.swiper-button-next {
    right: calc(50% - 3rem);
}

/* Responsivo */
@media screen and (max-width: 1023px) {
    .popular__container {
        padding: 1rem 0 3rem;
        width: 400px;
        height: 680px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 1rem;
        padding: 6px;
    }

    .swiper-button-prev {
        left: calc(50% - 2rem);
    }

    .swiper-button-next {
        right: calc(50% - 2rem);
    }

    .popular__title {
        font-size: var(--h4-font-size);
    }

    .popular__description {
        font-size: var(--smallest-font-size);
    }
}

@media screen and (max-width: 768px) {

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 0.875rem;
        padding: 4px;
    }

    .swiper-button-prev {
        left: calc(50% - 1.5rem);
    }

    .swiper-button-next {
        right: calc(50% - 1.5rem);
    }

    .popular__title {
        font-size: var(--h5-font-size);
    }

    .popular__description {
        font-size: var(--smallest-font-size);
    }
}

@media screen and (max-width: 480px) {
    .popular__container {
        padding: 1rem 0 2rem;
        width: 345px;
        height: 600px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 0.75rem;
        padding: 2px;
    }

    .swiper-button-prev {
        left: calc(50% - 1rem);
    }

    .swiper-button-next {
        right: calc(50% - 1rem);
    }

    .popular__title {
        font-size: var(--h6-font-size);
    }

    .popular__description {
        font-size: var(--smallest-font-size);
    }
}

/*=============== VALUE ===============*/

.value__content {
    padding-top: 5rem;
}

.value__container {
    row-gap: 3rem;
    padding-bottom: 0;
}

.value__images {
    position: relative;
    display: flex;
    justify-content: center;
}

.value__orbe {
    width: auto;
    height: auto;
    background-color: hsl(228, 24%, 97%);
}

.value__description {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.value__according {
    display: grid;
    row-gap: 1.5rem;
}

.value__according-item {
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    padding: 1rem .75rem;
}

.value__according-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.value__according-icon {
    background-color: var(--first-color-lighten);
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    color: var(--first-color);
    margin-right: .75rem;
    transition: .3s;
}

.value__according-title {
    font-size: var(--small-font-size);
}

.value__according-arrow {
    display: inline-flex;
    background-color: var(--first-color-lighten);
    padding: .25rem;
    color: var(--first-color);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
}

.value__according-arrow i {
    transition: .4s;
}

.value__according-description {
    font-size: var(--smaller-font-size);
    padding: 1.25rem 2.5rem 0 2.75rem;
}

.value__according-content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

@media screen and (max-width: 1023px) {
    .value__content {
        padding-top: 1.5rem;
    }
}

/*Value According*/


/*Rotate icon and add shadows*/

/*INTEGRANTES*/

.main-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que os itens quebrem linha se necessário */
    transition: 1s;
    align-items: center;
    width: 83%;
    /* Remove a largura fixa */
    margin: 0 auto;
    /* Centraliza o container */
}

.main-card .team__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que os cards se alinhem corretamente */
}

.main-card .team__cards .team__card {
    width: calc(33.33% - 20px);
    /* Ajusta para que caibam 3 por linha */
    background-color: #F3F3F3;
    border-radius: 12px;
    padding: 40px;
    margin: 10px;
    /* Espaçamento entre os cards */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.team__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* Para que os cards quebrem linha em telas menores */
    margin-bottom: 20px;
}

.team__container.main-card {
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team__cards .team__card .team__content .team__img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 3px;
    background: #1f2f70;
    margin-bottom: 10px
}

.team__card .team__content .team__img img {
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.team__card .team__content {
    text-align: center;
    /* Alinha o conteúdo de texto (nome e função) ao centro */
}

.team__card .team__content .team__name {
    font-size: 20px;
    font-weight: 500;
    color: #1f2f70;
    font-style: var(--font-semi-bold);
    text-align: center;
    /* Garante que o nome esteja centralizado */
}

.team__card .team__content .team__job {
    font-size: 20px;
    color: #F88745;
    text-align: justify;
    /* Garante que a função também esteja centralizada */
}

.team__card .team__content .media-icons {
    display: flex;
    /* Usar flexbox */
    padding-top: 20px;
    align-items: center;
    /* Alinha os ícones verticalmente */
    flex-direction: row;
    /* Certifica-se de que eles fiquem lado a lado */
    gap: 1px;
    /* Espaçamento opcional entre os ícones */
}

.media-icons a {
    display: flex;
    /* Para tornar o link flexível */
    justify-content: center;
    /* Centraliza o ícone horizontalmente */
    align-items: center;
    /* Centraliza o ícone verticalmente */
    line-height: 33px;
    height: 32px;
    width: 55px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    font-size: 20px;
    margin: 0 7px;
    /* Espaçamento entre os ícones */
    background-color: #002366;
}

.media-icons a:hover {
    color: #1f2f70;
    background-color: #F3F3F3;
    border-color: #1f2f70;
}

.main-card .team__cards .team__card:hover {
    transform: translateY(-15px);
}

@media screen and (max-width: 1023px) {
    .main-card {
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* Centraliza os elementos no eixo principal (vertical) */
    }

    .main-card .team__cards .team__card {
        width: calc(100% - 10px);
        margin-left: 0;
        margin-bottom: 10px;
        text-align: justify;
        /* Centraliza o texto dentro do card */
    }

    .team__container.main-card {
        flex-direction: column;
        align-items: center;
        /* Centraliza os cards */
    }

    .team__container.main-card .team__cards {
        width: 100%;
        margin-bottom: 10px;
    }

    .team__cards .team__card .team__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centraliza os elementos internos (imagem, nome, profissão) */
        justify-content: center;
    }

    .team__cards .team__card .team__content .team__img {
        height: 150px;
        width: 150px;
        margin-bottom: 5px;
        /* Ajusta o espaçamento abaixo da imagem */
    }

    .team__card .team__content .team__name,
    .team__card .team__content .team__job {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .media-icons {
        display: flex;
        justify-content: center;
        /* Centraliza os ícones de mídia social */
    }

    .media-icons a {
        display: flex;
        /* Torna os links flexíveis para centralizar os ícones */
        justify-content: center;
        /* Centraliza horizontalmente */
        align-items: center;
        /* Centraliza verticalmente */
        height: 40px;
        width: 40px;
        font-size: 20px;
        margin: 0 7px;
        /* Espaçamento entre os ícones */
        background-color: #002366;
        /* Adicionei uma cor de fundo para o botão (opcional) */
        border-radius: 50%;
        /* Torna os botões circulares */
    }
}

/* PREMIAÇÃO */

.inspiracao {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    padding-top: -5rem;
}

.inspiracao-texto {
    flex: 1;
    padding: 20px;
}

.inspiracao-texto h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.inspiracao-texto p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.inspiracao-imagens {
    position: relative;
    width: 300px;
    height: auto;
}

.inspiracao-imagens img {
    position: absolute;
    width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.imagem1 {
    top: 0;
    left: 0;
    z-index: 1;
}

.imagem2 {
    top: 150px;
    /* Ajuste conforme necessário */
    left: -150px;
    /* Ajuste conforme necessário */
    z-index: 2;
}

.premiacao {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

/* Media query para telas menores */
@media screen and (max-width: 1023px) {
    .inspiracao {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        margin-top: -5rem;
        margin-bottom: -6rem;
    }

    .inspiracao-imagens {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
    }

    .inspiracao-imagens img {
        position: relative;
        width: 100%;
        /* Ajuste conforme necessário */
        max-width: 300px;
        /* Ajuste conforme necessário */
        margin-bottom: 5px;
    }

    .imagem1,
    .imagem2 {
        top: 0;
        left: 0;
    }
}


/*=============== CONTACT ===============*/
/* Estilos gerais */
.contact__section {
    padding-left: 0;
    /* Remover padding exagerado para telas menores */
}

.contact__images {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -6rem;
}

.contact__orbe {
    width: 266px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}

.contact__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
    inset: 0;
    margin: auto;
}

.contact__description {
    font-size: var(--small-font-size);
    margin-bottom: 2.5rem;
    text-align: justify;
}

/* Tornar o grid responsivo */
.contact__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 colunas padrão */
    gap: 1.25rem .75rem;
    padding-bottom: 5rem;
}

.contact__card-box {
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    padding: 1.25rem .75rem;
    border-radius: .5rem;
    transition: .3s;
}

.contact__card-info {
    display: flex;
    align-items: flex-start;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
}

.contact__card i {
    padding: 6px;
    background-color: var(--first-color-lighten);
    border-radius: 6px;
    font-size: 1.25rem;
    color: var(--first-color);
}

.contact__card-title {
    font-size: var(--normal-font-size);
}

.contact__card-description {
    font-size: var(--smaller-font-size);
}

.contact__card-button {
    font-size: var(--small-font-size);
    padding: 8px 2px;
    width: 100%;
    border-radius: .25rem;
    background: var(--first-color-lighten);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    box-shadow: none;
}

.contact__cart-button:hover {
    background-color: var(--second-color);
    color: #f0f3ff;
}

.contact__card-box:hover {
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, .1);
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
    .contact__card {
        grid-template-columns: 1fr;
        /* Altera para 1 coluna em telas pequenas */
        gap: 1rem;
        /* Ajuste de espaçamento */
        padding-bottom: 3rem;
    }

    .contact__card-box {
        padding: 1rem;
        /* Reduz o padding para melhor adaptação */
    }

    .contact__card-title {
        font-size: var(--small-font-size);
        /* Reduz o tamanho da fonte */
    }

    .contact__card-description {
        font-size: var(--smallest-font-size);
        /* Reduz ainda mais a descrição */
    }

    .contact__img {
        width: 200px;
        /* Ajusta o tamanho da imagem no celular */
        height: 250px;
    }

    .contact__orbe {
        width: 220px;
        /* Ajuste de tamanho da orbe no celular */
        height: 260px;
    }

    .contact__card-button {
        padding: 6px 0;
        /* Ajusta o padding do botão no celular */
    }
}

@media screen and (max-width: 480px) {
    .contact__card {
        padding-bottom: 2rem;
        gap: 0.5rem;
    }

    .contact__img {
        width: 180px;
        height: 220px;
    }

    .contact__orbe {
        width: 180px;
        height: 220px;
    }

    .contact__card-title {
        font-size: 14px;
        /* Menor para telas muito pequenas */
    }

    .contact__card-description {
        font-size: 12px;
        /* Ajusta o tamanho da descrição para telas muito pequenas */
    }
}

/*=============== SUBSCRIBE ===============*/

.subscribe__container {
    background-color: var(--first-color);
    padding: 3rem 2rem;
    border-radius: 1.25rem;
    border: 6px solid hsl(204, 98%, 32%);
    text-align: center;
    margin-bottom: -1rem;
}

.subscribe__title {
    font-size: var(--h2-font-size);
    color: #F3F3F3;
    margin-bottom: 1rem;
}

.subscribe__description {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.subscribe__button {
    border-radius: .2rem;
    padding: .5rem 1.5rem;
    background: var(--first-color-light);
    font-size: var(--h3-font-size);
    font-family: var(--font-semi-bold);
    color: #ffff;
}

.subscribe__button:hover {
    background-color: #2a7a61;
}

/*=============== PARCERIA ===============*/
/* Estilos gerais para a seção logos */
.logos__section {
    row-gap: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.logos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Mantém 2 colunas padrão */
    gap: 3rem 2rem;
    justify-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logos__img img {
    height: 110px;
    opacity: 0.8;
    transition: opacity 0.5s ease;
    box-shadow: #1f2f70;
}

.logos__img img:hover {
    opacity: 0.5;
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 768px) {
    .logos__section {
        padding-left: 1rem;
        /* Reduz o padding lateral */
    }

    .logos__container {
        grid-template-columns: repeat(2, 1fr);
        /* Mantém 2 colunas mesmo em telas pequenas */
        gap: 2rem 1rem;
        /* Ajuste no espaçamento entre as logos */
    }

    .logos__img img {
        height: 90px;
        /* Reduz o tamanho das logos para caber melhor */
    }
}

@media screen and (max-width: 480px) {
    .logos__section {
        padding-left: 0.5rem;
        /* Remove padding exagerado para telas pequenas */
    }

    .logos__container {
        grid-template-columns: repeat(2, 1fr);
        /* Mantém 2 colunas em telas pequenas */
        gap: 1rem;
        /* Ajuste no espaçamento entre as logos */
    }

    .logos__img img {
        height: 70px;
        /* Ajusta o tamanho das logos para caberem na tela */
    }
}

/*=============== FOOTER ===============*/
.footer {
    background-color: #f3f2f2;
    padding-top: 1rem;
}

.footer__container {
    row-gap: 2.5rem;
    margin-top: 50px;
    text-align: justify;
    /* Centraliza o texto no container */
}

.footer__logo {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: .75rem;
    justify-content: center;
    /* Centraliza o logo */
    width: 100%;
    /* Faz o logo ocupar o container inteiro */
}

.footer__description,
.footer__link {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    /* Centraliza o texto */
}

.footer__content,
.footer__links {
    display: grid;
    justify-content: center;
    /* Centraliza o conteúdo grid */
    text-align: center;
}

.footer__content {
    grid-template-columns: repeat(2, max-content);
    /* Isso permite que os elementos não ocupem o container inteiro */
    gap: 2.5rem 4rem;
}

.footer__title {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    text-align: center;
    /* Centraliza o título */
}

.footer__links {
    row-gap: .5rem;
    justify-content: center;
    /* Centraliza os links */
}

.footer__link {
    color: var(--text-color);
    transition: .3s;
    text-align: center;
    /* Centraliza o texto dos links */
}

.footer__social {
    display: flex;
    justify-content: center;
    /* Centraliza os ícones sociais */
    column-gap: 1rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}

.footer__info,
.footer__privacy {
    display: flex;
    justify-content: center;
    /* Centraliza a informação e as políticas */
    flex-direction: column;
    align-items: center;
    /* Centraliza os itens no eixo vertical */
}

.footer__info {
    padding-bottom: 0rem;
    margin-top: 4rem;
    row-gap: 0rem;
    text-align: center;
    /* Centraliza o texto */
}

.footer__copy,
.footer__privacy a {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    text-align: center;
    /* Centraliza o texto */
}

.footer__privacy {
    justify-content: center;
    /* Centraliza os links de privacidade */
    column-gap: 1.25rem;
}

/* Responsivo */
@media screen and (max-width: 1023px) {
    .footer__container {
        margin-top: 10px;
    }

    .footer__content {
        gap: 1.5rem 2rem;
    }

    .footer__info {
        margin-top: 2rem;
    }

    .footer__privacy {
        margin-top: 1rem;
        margin-bottom: 7rem;
    }
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(228, 8%, 76%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(228, 8%, 64%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(228, 8%, 54%);
    border-radius: .5rem;
}


/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0px 8px 12px hsla(228, 66%, 45%, .1);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: .3s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
    color: var(--first-color);
}


/* Show Scroll Up*/

.show-scroll {
    bottom: 8rem;
}